body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Raleway'}



h1 {color: rgb(255, 255, 255); 
    font-size: 50pt;
    margin-bottom: -20px;}

@media only screen and (max-width: 720px) {
    span {display: none;}
    nav a {display: block;
        max-width:100%;}}

.navigation {
    display: flex;
    margin-top: 10px;
    justify-content:space-around;
     margin-bottom:10px;}
    nav a {color:white;}


a:link {color: #ffffff;}
a:visited {color: #ffffff;}

.center {display: flex;
    justify-content: center;}

/* Home */
.welcomepic {max-width:100; width: 100%;}
.homeintro {display: flex;
    background-color: rgb(45, 45, 45);
    margin:10px;
    flex-direction: column;
    flex-wrap: wrap;
    max-width:100%;
    align-items: center;
    justify-content: center;
    justify-items: center;}
.designis {display: flex;
    flex-direction: column;
    flex:1;
    text-align: center;}
.checkout {display: flex;
    align-content: center;
    flex:2;
    justify-content: center;}
    
.type {display:flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    flex-wrap:wrap;}
.chrome {display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px;}
.abc {display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:10px;;}

.proud {display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;}


/*Type*/
.typepic {max-width:100; width: 100%;}
.grey {padding:20px; background-color: rgb(45, 45, 45);}
.historyflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:10px;
    }
    
.historyimg {display:flex;
        flex-direction:row;
        justify-content:center;}
    
.historytype{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}
 
.fontflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    padding:10px;}

.fonttype{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:right;
    justify-content: center;
    margin:20px;}
        
.fontimg {display:flex;
    flex-direction:row;
    justify-content:center;}
    
.famflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:10px;
            }
            
.famimg {display:flex;
    flex-direction:row;
    justify-content:center;}
            
.famtype{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}

/*Color*/
.colorflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:30px;
    background-color: rgb(45, 45, 45)
            }
            
.colorblur {display:flex;
    justify-content:center;
    max-width: 100%;}
            
.colorpower{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}
.values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px;
    justify-content: space-around;}

.flex1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:5px;
            }
                
.img1 {display:flex;
    flex-direction:row;
    justify-content:center;}
                
.txt1{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}

.flex2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:5px;
            }
                
.img2 {display:flex;
    flex-direction:row;
    justify-content:center;}
                
.txt2{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}

.flex3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:5px;
            }
                
.img3 {display:flex;
    flex-direction:row;
    justify-content:center;}
                
.txt3{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}

.flex4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding:5px;
            }
                
.img4 {display:flex;
    flex-direction:row;
    justify-content:center;}
                
.txt4{
    display:flex; 
    flex-direction: column; 
    flex: 1;        
    flex-basis:50%;
    text-align:left;
    justify-content: center;
    margin:20px;}


/*inspo*/
.inspoheading {text-align: center;
    padding:10px;
background-color: rgb(45, 45, 45)}
 
.gallery {display:flex;
    padding:10px;
    align-content: center;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-around;}
