body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Tahoma';}

h1 {color: rgb(255, 255, 255); 
    font-size: 50pt;
    margin-bottom: -20px;}

 @media only screen and (max-width: 720px) {

        }

.navigation {
    display: flex;
    margin-top: 10px;
    justify-content:space-around;
     margin-bottom:10px;}
    
    nav a {color:white;}

a:link {color: #ffffff;}
a:visited {color: #ffffff;}

.center {display: flex;
    justify-content: center;}

/* Home */
.welcomepic {max-width:100; width: 100%;}
.homeintro {display: flex;
    flex-wrap: wrap;
    margin-inline: 50px;
    max-width:100; }
.designis {flex: 1;
    padding: 20px;
    text-align: center;
    background-color: rgb(226, 34, 130); border-radius: 1em;}
.checkout {flex: 2;
    padding: 20px;
    text-align: center;}
.bigflex {display: flex;
    padding: 20px;}

.left {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;}
.right {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;}



/*Type*/
.typepic {max-width:100; width: 100%;}
.historyflex {
    display:flex;
    padding: 30px;
}
.historytype {
    display: flex;
    padding-left: 30px;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.fontflex{
    display:flex;
    padding: 30px;
    
}
.fonttype {
    padding-right: 30px;
    display: flex;
    padding-left: 30px;
    align-items: left;
    text-align: right;
    flex-direction: column;
    justify-content: center;
}
.famflex{
    display:flex;
    padding: 30px;
    align-items: center;
}

.famtype {
    display: flex;
    padding-left: 30px;
    align-items: left;
    flex-direction: column;
    justify-items: center;
}

/*Color*/
.colorflex{
    display:flex;
    align-items: center;
    padding: 30px;
}
.color2 {padding:30px;}

.values {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline: 30px;}

.flex1 {display:flex; align-items: center;}
.img1 {flex:1;}
.txt1 {flex:1;padding:10px;}

.flex2 {display:flex; align-items: center;}
.img2 {flex:1;}
.txt2 {flex:1;padding:10px;}

.flex3 {display:flex; align-items: center;}
.img3 {flex:1;}
.txt3 {flex:1; padding:10px;}

.flex4 {display:flex; align-items: center;}
.img4 {flex:1;}
.txt4 {flex:1; padding:10px;}

/*inspo*/
.inspoheading {text-align: center;}
.inspo1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.inspo2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.inspo3{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.inspo6{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.inspo4{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.inspo5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}