h1, h2, p, th, td, li label {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h1, h2 {color: slateblue;}
.special{color: cornflowerblue}
h1 {font-size: 4ex;}
h2 {font-size: 3ex;}